include components/icon/ethereum.pug
include components/icon/clock.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href=require("./assets/images/favicon-32x32.png")
    )
    title Frontend Mentor | NFT Preview Card Component
  body
    main.container
      article.card
        figure.card-img
          img(
            src=require("./assets/images/image-equilibrium.jpg"),
            alt="Image of Equilibrium NFT entry"
          )

        .card-body
          h1 Equilibrium #3429
          p Our Equilibrium collection promotes balance and calm.

          .details
            .details-price
              +eth-icon
              span 0.041 ETH
            .details-due
              +clock-icon
              span 3 days left

        .card-footer
          .creator
            img.avatar(
              src=require("./assets/images/image-avatar.png"),
              alt="Avatar picture of Jules Wyvern"
            )
            p Creation of #[span.creator-name Jules Wyvern]

    footer.attribution.
      Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge", target="_blank", rel="noopener noreferrer") Frontend Mentor]. Coded by #[a(href="https://www.frontendmentor.io/profile/mupinnn", target="_blank", rel="noopener noreferrer") @mupinnn]
